Source: libcapsicum
Priority: optional
Maintainer: David Drysdale <drysdale@google.com>
Build-Depends: debhelper (>= 9.0.0), autotools-dev
Standards-Version: 3.9.5
Section: libs
Homepage: https://gihub.com/google/capsicum-test

Package: libcapsicum-dev
Section: libdevel
Architecture: any
Depends: libcapsicum0 (= ${binary:Version}), ${misc:Depends}
Description: Development files for Capsicum security framework
 This package provides the <sys/capsicum.h> header file that holds
 declarations for the Capsicum functionality provided by the
 libcapsicum0 package, plus development libraries.

Package: libcapsicum0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Userspace support library for Capsicum security framework
 This package holds the libcapsicum userspace library, which allows
 userspace programs to use the Capsicum security features provided
 by modern Linux kernels.  In particular this library provides
 cap_enter(3), cap_getmode(3), cap_rights_init(3), cap_rights_set(3),
 cap_rights_clear(3), cap_rights_is_set(3), cap_rights_merge(3),
 cap_rights_remove(3), cap_rights_contains(3),
 cap_rights_get(3), cap_rights_limit(3), cap_ioctls_get(3),
 cap_ioctls_limit(3), cap_fcntls_get(3), cap_fcntls_limit(3),
 pdfork(2), pdkill(2), pdgetpid(2), pdwait4(2).
