# automake
/Makefile.in
/Makefile
# autoconf
/autom4te.cache/
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/stamp-h?
/config.*
/libtool
/ltmain.sh
/m4
.deps/
.libs/
*.l[ao]
.dirstamp
lib*.a
casperd
casper.dns
casper.grp
casper.pwd
casper.random
casper.sysctl
casperd.pid
casperd.sock
casper-test
casper-test.*
test-driver
test-suite.log
test-wrapper.sh.*